.container {
  padding: 1px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.container image {
  width: 70vw;
  height: 20vh;
}

.profile_pic {
  background-color: #bbd904;
  align-content: center;
  justify-content: center;
  justify-self: center;
  align-self: center;

  margin: 10px;
  padding: 11px;
  border-radius: 25px;
}

.banner {
  z-index: 1;
}

.info {
  background-color: #04c8e0;

  display: flex;
  justify-self: center;

  flex-direction: row;
  z-index: 2;
  margin-top: -70px;

  color: white;
  justify-content: space-evenly;

  padding: 10px 60px;
  border-radius: 9px;
  box-shadow: 0px 10px 20px rgba(0, 207, 232, 0.19);
}

.item {
  margin-right: 60px;
  padding: 15px 1px;

  align-self: center;
}

.item p {
  font-weight: 200;
  font-size: 14px;
}

.created__on {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 7px;
}

.created__on h6 {
  padding-left: 5px;
  align-self: center;
  justify-self: center;
  font-size: 14px;
  margin: 0px;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.creators__details {
  margin-top: -7px;
  font-size: 12px;
}

.goal__title {
  margin: 0px;
  word-spacing: 5px;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
}

.days_left_text {
  margin: 0px;
}

.contributors__amount {
  margin: 0px;
}
